*,
 html {
  margin: 0;
  padding: 0;
}
 
.container {}

.container-navbar {
  background-color: rgb(236, 158, 40);
  width: 100%;
  height: 100px;
}

.ul-navbar {
   display: flex;
   height: 90px;
   justify-content: center;
   align-items: center;
}

.li-navbar {
list-style-type: none;
padding: 20px;
margin: 5px;
color: rgb(238, 243, 239);
font-size: 20px;
}

.li-navbar:hover {
  background-color: rgb(5, 201, 31);
  transition: .5s ease-in-out;
  transition-delay: .3s;
  border-radius: 8px;
}

.a-navbar {
  color: white;
  text-decoration: none;
  font-weight: 800;
}

.container-content {
 disply: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
}
          .img-content {
            width: 100%;  /* Lebih lebar di mobile untuk tampilan optimal */
            height: auto;  /* Auto height di mobile agar proporsi bagus */
          }

 .container footer {
  height: 20vh;
  background-color: blue;
  disply: flex;
  justify-content: center;
  align-items: center;
}

.h1-footer {
  font-size: 40px;
  color: white ;
  }
  
header h1 {
  text-align: flex;
  margin-bottom: 30 px
}

.about-container img {
  width: 600px;
  border-radius: 98%;
  border: 3px solid #4caf50;
}

